.flex-container {
  display: flex;
  height: 10em;
  max-width: 10em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1 1 25%;
}

.dot-div {
  background-color: "hotpink";
  border-color: "black";
  height: "5em";
  width: "5em";
  border-radius: 50%;
}
